extends layout
include mixins/_linkCard

block content
  .inner
    .pageheader
      .title
        a(href=`/team/${section.team.slug}`) #{section.team.name} / 
        a(href=`/section/${section.slug}`) #{section.name}
      .actions
        .actions--item
          a(href=`/section/${section._id}/links/add`) Create Links
    if section.links
      .lists
        each link in section.links
          +linkCard(link)
    pre= h.dump(section)